##initramfs
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="/tmp/initramfs.cpio"
CONFIG_INITRAMFS_ROOT_UID=0
CONFIG_INITRAMFS_ROOT_GID=0
CONFIG_RD_LZMA=y
CONFIG_RD_GZIP=y
#CONFIG_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_EXPERT=y
CONFIG_FAT_FS=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="console=ttyS1,115200n8 mem=128M@0x0 rmem=0 rdinit=/init init=/init rootfstype= root= "
